
lab/*/__pycache__
lab/*/tests/__pycache__
lab/*/.ok_history
lab/*/.ok_storage

hw/*/__pycache__
hw/*/tests/__pycache__
hw/*/.ok_history
hw/*/.ok_storage

projects/*/__pycache__
projects/hog/gui_files/__pycache__
projects/*/tests/__pycache__

projects/hog/.ok_history
projects/hog/.ok_storage
projects/cats/.ok_history
projects/cats/.ok_storage
projects/cats/multiplayer/__pycache__

lab/lab10/editor/__pycache__
lab/lab10/editor/libraries/__pycache__
hw/hw07/editor/__pycache__
hw/hw07/editor/libraries/__pycache__